@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}

body{
  width: 100vw;
  height: 75vh;
}

#loginBox{
  width: 30%;
  height: 50%;
  background: #222;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#loginBox #loginHeader{
  margin: 20px;
}
